.container {
  width: 100%;
  display: flex;
  &__buscador {
    width: 70%;
    padding: 10px 10px;
    display: flex;
    position: relative;
    &__icon {
      position: absolute;
      height: 25px;
      width: auto;
      top: 45%;
      right: 20%;
      transform: translateY(-50%);
      padding: 2px 8px;
    }
    &__inputClass {
      width: 80%;
      height: 40px;
      padding-left: 10px;

      box-shadow: 0px 1px 3px #00000017;

      background: #fafafa 0% 0% no-repeat padding-box;
      font-size: 12px;
      border-radius: 15px;
      opacity: 1;
      border-color: transparent;
    }
  }
  &__user {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    i {
      margin-right: 10px;
    }
    &__prueba {
      font-family: "Quicksand", sans-serif;
      color: #4f4f4f;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
.fas {
  color: #e86060;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    &__buscador {
      width: 100%;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      img {
        right: 10%;
      }
    }
  }
}
