<ng-container *ngIf="searchQuery.itemCurrent$ | async">
  <ng-container *ngIf="searchQuery.itemCurrent$ | async; else isEmpty">
    <div class="player" *ngIf="searchQuery.itemCurrent$ | async as Response">
      <div class="player__container">
        <div class="player__container__content">
          <img [src]="Response.album.cover" width="100" height="105" alt="" />
          <div class="player__container__content__title">
            <p>{{ Response.title }}</p>
            <p>{{ Response.artist.name }}- {{ Response.album.title }}</p>
          </div>
        </div>
        <div class="player__container__reprod">
          <i class="fa fa-step-backward fa-2x" style="color: white"></i>
          <i
            class="fa fa-play fa-2x"
            style="color: white; cursor: pointer"
            (click)="playToAudio()"
            [ngStyle]="{ display: isPlay != true ? 'none' : 'block' }"
          ></i>

          <i
            class="fa fa-pause fa-2x"
            style="color: white; cursor: pointer"
            [ngStyle]="{ display: isPlay != true ? 'block' : 'none' }"
            (click)="stopToAudio()"
          ></i>
        </div>
        <audio
          preload="none"
          [src]="Response.preview"
          controls
          style="display: none"
          id="audio"
        ></audio>
        <div class="player__container__replayer">
          <input
            type="range"
            min="0"
            max="100"
            disabled
            value="90"
            (click)="volume_change()"
            id="volume"
          />

          <i
            class="fa fa-volume-up"
            style="color: white; cursor: pointer"
            *ngIf="!isMute"
            (click)="muteVolumen()"
          ></i>
          <i
            class="fa fa-volume-mute"
            style="color: white; cursor: pointer"
            *ngIf="isMute"
            (click)="unMuteVolumen()"
          ></i>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #isEmpty>
  <h1>Cargando...</h1>
</ng-template>
