@import "https://use.fontawesome.com/releases/v5.0.7/css/all.css";
/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  border: transparent;
}

* {
  outline: none;
  border: none;
}
